*{
    margin : 0;
    padding : 0;
}
body{
    background-color: bisque;
    font-size: 14;
}
.container{
    max-width: 1000px;
  
    margin : 0 auto;
    background-color: beige;
    padding : 20px;
}
.img-profile{
    max-width: 90px;
    height: 90px;
    border: 3px solid white;
    border-radius: 50%;
    float : left;
}
.header-bio{
    float : left;
    padding : 20px;
}
.header-contact{
    float : right;
    padding : 20px;
}
h1,h2,h3,h4,h5,h6{
    color:rgb(149, 0, 255);
}
.header-contact a{
    text-decoration: none;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color : red;
}
.div-clear{
    clear : both;
}
hr{
    border: black 3px solid;
    border-bottom: none;
    width : 100%;
    margin : 20px auto;
}
.left-div{
    width : 30%;
    float : left;
}
.right-div{
    width : 70%;
    float:right;
    text-align: justify;
}
.common-hr{
    border : solid black 1px;
    margin : 20px auto;
    border-bottom: none;
}
.footer1{
    background-color: rgb(36, 90, 15);
    padding:10px;
    text-align: center;
    color: white;
}
.footer1 a{
    color:white;
    list-style-type: none;
    margin: 15px;
    text-decoration: none;
}
.footer1 a:hover{
    text-decoration: underline;
}